<div class="page-header">
	<h1>Declined Volunteers</h1>
</div>

<table class="table table-striped">
  <thead>
  	<tr>
  		<th>Email</th>
  		<th>Organization</th>
  		<th>Project</th>
  		<th>Reason</th>
  	</tr>
  </thead>
  <tbody>
  <% @contributors.each do |contributor| %>
    <tr>
      <td><%= contributor.user.email %></td>
      <td><%= contributor.project.organization.name %></td>
      <td><%= contributor.project.name %></td>
      <td><%= contributor.reason %></td>
    </tr>
  <% end %>
  </tbody>
</table>
