<div class="progress">
  <div class="step step-1 <%= "active" if step == 1 %>">Step One: Create Account</div>
  <div class="step step-2 <%= "active" if step == 2 %>">Step Two: Organization Details</div>
  <div class="step step-3 <%= "active" if step == 3 %>">Step Three: Create A Project</div>
  <div class="clear"></div>
</div>
