<div class="column one-of-three">
  
  <div class="section three newsletter last">
    <div class="newsletter-signup dark-section">
      <h2>Newsletter <span>Signup</span></h2>
      <p class="note">Sign up to receive important news and updates.</p>
      <form id="newsletter-form">
        <input type="text" name="email" placeholder="Email" />
        <button>Submit</button>
      </form>
    </div>
  </div>

  <div class="section three volunteers">
    <h2>Volunteers</h2>
    <p>Register our skills, browse for open projects, or read testimonials from folks who have worked with us.</p>
    <a href="#">Check it out &raquo;</a>
  </div>

  <div class="section three organizations">
    <h2>Organizations</h2>
    <p>We can help you find local probono talent and get linked up with the skills and services you need.</p>
    <a href="#">Check it out &raquo;</a>
  </div>
</div>
