<div id="main">
  <div class="content column two-of-three">
    <h2>About Us</h2>
    <h3>Mission</h3>
    <p> Our mission is to proficiently connect organizations and skilled individuals who offer pro bono services with non-profits who need them. </p>
    <h3>Vision</h3>
    <p>
      Our vision is to redefine how volunteers and organizations are matched with pro bono opportunities.  Through our web services, we will create the most precise and efficient matches of a volunteer skills and organizations with the specific requirements that are defined by non-profits.
    </p>
    <p>
      It is our goal to foster meaningful volunteer experiences that will open doors for future opportunities for skilled individuals and organizations to work with non-profits for the betterment of the Austin community.
    </p>
    <h3>Our Story</h3>
    <p>
      Austin Pro Bono was originally launched in 2007.  Since our initial launch, we have connected to over 75 businesses and 300 non-profits registered in the Austin area. In early 2011, through the enthusiastic support and volunteers of our flagship sponsor BuildASign.com, Austin Pro Bono officially became a non-profit organization.
    </p>
    <p>
      Austin Pro Bono currently serves to connect volunteers and organizations with non-profits that operate within local Austin area.
    </p>
  </div>
 <%= render 'shared/page_rightcolumn' %>
</div>

<div class="clear"></div>
