<div id="main">
  <div class="content column two-of-three">
    <h2>About Us</h2>
    <h3>Mission</h3>
    <p> Our mission is to connect organizations and skilled individuals who offer pro bono services with non-profits who need them. </p>
    <h3>Vision</h3>
    <p>
      Our vision is to redefine how volunteers and organizations are matched with pro bono opportunities.  Through our web services, we will align professional skill and philanthropic interest with the specific needs of local non-profits to create a mutually beneficial experience.
    </p>
    <p>
      It is our goal to foster meaningful volunteer opportunities that strengthen non-profits while encouraging professional development and community involvement.
    </p>
    <h3>Our Story</h3>
    <p>
      Austin Pro Bono was originally launched in 2007.  Since our initial launch, we have connected with over 75 businesses and 300 non-profits registered in the Austin area. In early 2011, through the enthusiastic support and volunteers of our flagship sponsor BuildASign.com, Austin Pro Bono officially became a non-profit organization. 
    </p>
    <p>
      Austin Pro Bono currently serves to connect volunteers and organizations with non-profits that operate within the local Austin community.
    </p>
  </div>
 <%= render 'shared/page_rightcolumn' %>
</div>

<div class="clear"></div>
