			<div class="banner">
        <%= image_tag 'banner-sample.png' %>
			</div>
			
			<div class="section three volunteers">
				<h2>Volunteers</h2>
				<p>Register our skills, browse for open projects, or read testimonials from folks who have worked with us.</p>
				<a href="#">Check it out &raquo;</a>
			</div>
			
			<div class="section three organizations">
				<h2>Organizations</h2>
				<p>We can help you find local probono talent and get linked up with the skills and services you need.</p>
				<a href="#">Check it out &raquo;</a>
			</div>
			
			<div class="section three newsletter last">
				<div class="newsletter-signup dark-section">
					<h2>Newsletter <span>Signup</span></h2>
					<p class="note">Sign up to receive important news and updates.</p>
					<form id="newsletter-form">
						<input type="text" name="email" placeholder="Email" />
						<button>Submit</button>
					</form>
				</div>
				<a href="projects" class="browse-projects">Browse Open Projects</a>
			</div>
			
			<div class="clear"></div>
			
			<div class="latest dark-section">
				<div class="section first">
					<h2>Latest <span>Blog</span></h2>
					<div class="post">
						<a class="img" href="#"></a>
						<div class="title"><a href="#">Blog Title</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do. <a href="#">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="section">
					<h2>Featured <span>Project</span></h2>
					<div class="post">
						<a class="img" href="#"></a>
						<div class="title"><a href="#">Project Title</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do. <a href="#">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="section last">
					<h2>Our <span>Testimonials</span></h2>
					<div class="post">
						<a class="img" href="#"></a>
						<div class="title"><a href="#">Blog Title</a></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do. <a href="#">Read more &raquo;</a></p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="social">
				<a href="#" class="facebook">
					<span class="text">
						<span class="title">Like us on Facebook</span>
						<span class="tag">facebook/AustinProBono</span>
					</span>
				</a>
				<a href="#" class="twitter last">
					<span class="text">
						<span class="title">Follow us on Twitter</span>
						<span class="tag">@AustinproBono</span>
					</span>
				</a>
				<div class="clear"></div>
			</div>
			
			<p class="seo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
