<div id="main">
  <div class="content column two-of-three">
    <h2>How It Works</h2>
    <h3>For Volunteers</h3>
    <ol type="1">
      <li> Sign up: Give us some basic information so you can start volunteering. </li> 
      <li> Browse: Our system will generate projects that match your skill set and interests, check out what is available. </li> 
      <li> Apply: Once you've found a project you like, take the next step towards volunteering by clicking “?? </li> 
      <li> Follow: See an organization you like with no open projects? Click “????” to receive project updates as they are posted. </li> 
    </ol>
    <h3>For Non-profit Organizations</h3>
    <ol type="1">
      <li> Sign up: Register your organization to get the help that you need. </li> 
      <li> Create projects: Post detailed project descriptions for potential volunteers. </li> 
      <li> Select: Follow up with applicants and select the volunteer that best meets your needs. </li> 
    </ol>
  </div>
 <%= render 'shared/page_rightcolumn' %>
</div>

<div class="clear"></div>
