<div class="OrganizationListing">
  <h2>All Non-Profit Organizations</h2>
  <p>This is the Non-Profit Organization Listing page</p>

<%= will_paginate %>

<ul class="organizations">
    <%= render @organizations %>
</ul>

<%= will_paginate %>

</div>

<div class="clear"></div>
