			<div class="ProjectListing">
				<h2>Open Projects</h2>
				<p>This is the Austin Pro Bono About Us page</p>

			</div>
			
      <div class="section three newsletter last">
				<div class="newsletter-signup dark-section">
					<h2>Newsletter <span>Signup</span></h2>
					<p class="note">Sign up to receive important news and updates.</p>
					<form id="newsletter-form">
						<input type="text" name="email" placeholder="Email" />
						<button>Submit</button>
					</form>
				</div>
			</div>
			
      <div class="clear"></div>
