<div id="main">
  <div class="content column two-of-three">
    <h2>We are Austin ProBono</h2>
    <h3>About Me</h3>
    <p> </p>
    <h3>Why I Joined Austin ProBono</h3>
    <p> </p>
    <h3>Three Adjectives that Describe Me</h3>
    <p> </p>
    <h3>Favourite Austin Eatery</h3>
    <p> </p>
    <h3>In My Free Time I can be Found</h3>
    <p> </p>
    <h3>All-Time Favorite Band</h3>
    <p> </p>
    <h3>Cause of Choice</h3>
    <p> </p>
    <h3>The Best Part About Living in Austin Is</h3>
    <p> </p>
  </div>
 <%= render 'shared/page_rightcolumn' %>
</div>

<div class="clear"></div>
