<div class="main">
	<div class="content">
  <% if @organization.owner == current_user %>
    <div class="forward right">
      <%= link_to "+ Create New Project", new_organization_project_path(@organization) %>
    </div>
    <div class="segment-controller">
      <%= link_to "Profile Info", @organization, :class => "segment" %>
      <%= link_to "Projects", projects_user_organization_path(current_user, @organization), :class => "segment active" %>
      <div class="clear"></div>
    </div>
  <% end %>
  <% if @organization.projects %>
    <%= render @organization.projects %>
  <% end %>
  </div>
</div>
