
		<div id="footer">
			<ul class="navigation">
				<li>
					<ul>
						<li class="featured"><a href="volunteers">Volunteers</a></li>
						<li><a href="#">Register/Login</a></li>
						<li><a href="volunteer_testimonials">Read Testimonials</a></li>
						<li><a href="#">Browse Projects</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="featured"><a href="organizations">Organizations</a></li>
						<li><a href="#">Register/Login</a></li>
						<li><a href="non-profit_testimonials">Read Testimonials</a></li>
					</ul>
				</li>
				<li>
					<ul>
						<li class="featured"><a href="how-it-works">How It Works</a></li>
						<li><a href="aboutus">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</li>
				<li class="last"><a href="projects">Projects</a></li>
			</ul>
			<div class="clear"></div>
		</div>
