<!DOCTYPE html>
<html>
<head>
  <title>Apb2</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "http://cdn.sublimevideo.net/js/3s7oes9q.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
